#particles-js {
  background-color: #2eaf33 !important;
}
.contents {
  width:100% !important;
}

.project-button {
    width: 100px;
    margin: 10px 0;
    padding: 5px;
    color: #1a222c;
    background-color: transparent;
    border: 1px solid #1a222c;
    border-radius: 2px;
    text-align: center;
    padding:10px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: color .3s ease-out,background-color .3s ease-out,border-color .3s ease-out;
}
